<div class="container container-details">
    <div style="text-align: center; margin-bottom: 20px;">
        <h2><b>Payment History</b></h2>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                {{!-- <th scope="col">#</th> --}}
                <th scope="col">Payment On</th>
                <th scope="col">Total Money</th>
            </tr>
        </thead>
        <tbody>
            {{#each payment_historys}}
            <tr>
                {{!-- <th scope="row">{{this.payment_history_id}}</th> --}}
                <td>{{this.payment_on}}</td>
                <td>{{this.total_money}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>