<div class="manage-home">
    <a href="/admin/manager" class="box">
        <h2 style="font-weight: 900; font-size: 25px">NGƯỜI QUẢN LÝ</h2>
        <span style="font-size: 35px">{{noManager}}<i style="margin-left: 8px" class="fas fa-users-cog"></i></span>
        <p>Danh sách người quản lý bệnh nhân Covid</p>
    </a>
    <br>

    <a href="/admin/treatment" class="box">
        <h2 style="font-weight: 900; font-size: 25px">NƠI ĐIỀU TRỊ</h2>
        <span style="font-size: 35px">{{noTreatment}}<i style="margin-left: 8px" class="fas fa-hospital"></i></span>
        <p>Danh sách nơi điều trị</p>
    </a>

    

    <div>