<!-- Header -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a href="/home" class="navbar-brand">Home</a>
  <a href="/category" class="navbar-brand">Category</a>
  <a href="/product" class="navbar-brand">Product</a>
  {{#compareString username undifined}}
    <a
      href="/user/login"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >
      Login
    </a>
  {{/compareString}}
  {{#checkExists username}}
    <h4 style="font-weight: bold;">Xin chào {{username}}</h4>
    <a
      href="/user/logout"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >
      Logout
    </a>
  {{/checkExists}}

</nav>