<div class="header">
  <h1>COVID MANAGEMENT</h1>
  <a href="/logout">ĐĂNG XUẤT</a>
</div>
<navbar class="navbar-menu">
  <a href="/home" class="navbar-item">TRANG CHỦ</a><a
    href="/patient"
    class="navbar-item"
  >NGƯỜI BỆNH</a><a href="/package" class="navbar-item">NHU YẾU PHẨM</a><a
    href="/product"
    class="navbar-item"
  >SẢN PHẨM</a><a href="/analysis" class="navbar-item">THỐNG KÊ</a>
  <a href="/payment" class="navbar-item">THANH TOÁN</a>
</navbar>