<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container1">
      <div class="header">
        <h1>COVID MANAGEMENT</h1>
        <a href="/logout">ĐĂNG XUẤT</a>
      </div>
      <navbar class="navbar-menu">
        <a href="/home" class="navbar-item">TRANG CHỦ</a
        ><a href="/patient" class="navbar-item">NGƯỜI BỆNH</a
        ><a href="/package" class="navbar-item">NHU YẾU PHẨM</a
        ><a href="/product" class="navbar-item">SẢN PHẨM</a
        ><a href="/analysis" class="navbar-item">THỐNG KÊ</a>
        <a href="/payment" class="navbar-item">THANH TOÁN</a>
      </navbar>
      {{{body}}}
      
    </div>
  </body>
</html>
