<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID MANAGERMENT</title>
    {{>css}}
  </head>
  <body>
    <div class="container1">
      {{>header}}

      <navbar class="navbar-menu">
        <a href="/user" class="navbar-item">TRANG CHỦ</a>
        <a href="#" class="navbar-item">THÔNG TIN CÁ NHÂN</a>
        <a href="/user/buy" class="navbar-item">MUA GÓI NHU YẾU PHẨM</a>
        <a href="#" class="navbar-item">THANH TOÁN</a>
    </navbar>
      {{{body}}}
      {{>script}}
    </div>
  </body>
</html>
