<div class="manage-home">
  <a href="/admin/account-balance" class="box">
    <h2 style="font-weight: 900; font-size: 25px">SỐ DƯ</h2>
    <span style="font-size: 35px"><i
        style="margin-left: 8px"
        class="fas fa-cube"
      ></i></span>
    <p>Quản lý số dư tài khoản</p>
  </a>

  <a href="/admin/payment_history" class="box">
    <h2 style="font-weight: 900; font-size: 25px">GIAO DỊCH</h2>
    <span style="font-size: 35px"><i
        style="margin-left: 8px"
        class="fas fa-credit-card"
      ></i></span>
    <p>XEM LỊCH SỬ GIAO DỊCH</p>
  </a>
</div>
