<div class="manage-home">
  <a href="/user/account-balance" class="box">
    <h2 style="font-weight: 900; font-size: 25px">SỐ DƯ</h2>
    <span style="font-size: 35px"><i
        style="margin-left: 8px"
        class="fas fa-cube"
      ></i></span>
    <p>Quản lý số dư tài khoản</p>
  </a>

  <a href="/user/put-money" class="box">
    <h2 style="font-weight: 900; font-size: 25px">NẠP TIỀN</h2>
    <span style="font-size: 35px"><i
        style="margin-left: 8px"
        class="fas fa-credit-card"
      ></i></span>
    <p>NẠP TIỀN VÀO TÀI KHOẢN</p>
  </a>
</div>

<div id="toast">

</div>

{{#compareString state "error"}}
  <script>
    window.onload = ()=> { showErrorToast('Tài khoản đang được sử dụng ở thiết bị khác') }
  </script>
{{/compareString}}


{{#compareString status  "error"}}
  <script>
    window.onload = ()=> { showErrorToast('Thanh toán không thành công') }
  </script>
{{/compareString}}

{{#compareString status "success"}}
  <script>
    window.onload = ()=> { showSuccessToast('Thanh toán thành công') }
  </script>
{{/compareString}}