<navbar class="navbar-menu">
  <a href="/home" class="navbar-item">TRANG CHỦ</a><a
    href="/manager/patient"
    class="navbar-item"
  >NGƯỜI BỆNH</a><a href="/manager/package" class="navbar-item">NHU YẾU PHẨM</a><a
    href="/manager/product"
    class="navbar-item"
  >SẢN PHẨM</a><a href="/manager/analysis" class="navbar-item">THỐNG KÊ</a>
  <a href="/manager/payment" class="navbar-item">THANH TOÁN</a>
</navbar>

<div class="manage-home">
<a href="/patient" class="box">
  <h2 style="font-weight: 900; font-size: 25px">NGƯỜI BỆNH</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-users"></i
  ></span>
  <p>Danh sách người liên quan Covid</p>
</a>

<a href="/packet" class="box">
  <h2 style="font-weight: 900; font-size: 25px">NHU YẾU PHẨM</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-cube"></i
  ></span>
  <p>Danh sách gói nhu yếu phẩm</p>
</a>

<a href="/package" class="box">
  <h2 style="font-weight: 900; font-size: 25px">SẢN PHẨM</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-dumpster-fire"></i
  ></span>
  <p>Danh sách các sản phẩm</p>
</a>

<a href="/analysis" class="box">
  <h2 style="font-weight: 900; font-size: 25px">THỐNG KÊ</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-chart-bar"></i
  ></span>
  <p>Thống kê thông tin</p>
</a>

<a href="/payment" class="box">
  <h2 style="font-weight: 900; font-size: 25px">THANH TOÁN</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-credit-card"></i
  ></span>
  <p>QUẢN LÝ THANH TOÁN</p>
</a>
<div>