<div>
  <div
    style="    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    z-index: 1;"
  ></div>

  <div
    style="
          position: absolute;
          background: #fff;
          width: 600px;
          z-index: 19;
          height: 500px;
          top:14%;
          left: 30%;
          border-radius: 4px;
          box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        "
  >
    <a
      href="/home?page=1&per_page=2"
      style="position: absolute;
    right: 30px;
    top: 16px;
    font-size: 26px;
    background: red;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    color:#fff;
    text-decorate:none;"
    >X</a>
    <h2 style="color:red;text-align:center">{{message}}</h2>
    <form
      action="/category/create"
      method="POST"
      role="form"
      style="padding: 16px"
    >
      <legend>
        Thêm category
      </legend>

      <div class="form-group">
        <label for="">Tên category</label>
        <input
          type="text"
          class="form-control"
          id=""
          placeholder="Enter Category Name"
          name="name"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        style="float: right; margin-right: 20px"
      >
        Thêm
      </button>
    </form>
  </div>
</div>