<div class="manage-home" style="grid-template-columns: 1fr;width:500px" >
  <div class="box">
    <h2 style="font-weight: 900; font-size: 25px">SỐ DƯ</h2>
    <span style="font-size: 35px"><i
        style="margin-left: 8px"
        class="fas fa-cube"
      ></i>{{accountBal}}</span>
    <p>Quản lý số dư tài khoản</p>
  </div>
</div>