<form method="" action="" class="mt-4">
    <div class="spacer"></div>
    <h2>Change Password</h2>

    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required />
        <div class="password error"></div>
    </div>

    <div class="form-group">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" name="new_password" class="form-control" required />
        <div class="new_password error"></div>
    </div>

    <div class="form-group">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <input type="password" name="confirm_password" class="form-control" required />
        <div class="confirm_password error"></div>
    </div>

    <button type="submit" class="form-submit">Change</button>
</form>

<script>
    const form = document.querySelector('form');
    const passwordError = document.querySelector('.password.error');
    const new_passwordError = document.querySelector('.new_password.error');
    const confirm_passwordError = document.querySelector('.confirm_password.error');

    form.onsubmit = async function (e) {
        e.preventDefault();

        passwordError.innerText = '';
        new_passwordError.innerText = '';
        confirm_passwordError.innerText = '';

        const password = form.password.value;
        const new_password = form.new_password.value;
        const confirm_password = form.confirm_password.value;

        const data = { password, new_password, confirm_password };
        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        };

        try {
            const result = await fetch('', options);
            const resData = await result.json();
            console.log(resData);

            if (!resData.account) {
                passwordError.innerText = resData.password;
                new_passwordError.innerText = resData.new_password;
                confirm_passwordError.innerText = resData.confirm_password;
            } else {
                switch (resData.account) {
                    case 1:
                        location.assign('/admin');
                        break;
                    case 2:
                        location.assign('/manager');
                        break;
                    case 3:
                        location.assign('/user');
                        break;
                }
            }
        }
        catch (e) {
            console.log(e);
        }
    }

</script>