<div class="mt-4">
    <h3>Indept</h3>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                {{!-- <th scope="col">#</th> --}}
                <th scope="col">Indept</th>
                <th scope="col">Due Date</th>
                <th scope="col">Minimum Pay</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{!-- <th scope="row">{{indept.indept_id}}</th> --}}
                <td>{{indept.indept}}</td>
                <td>{{indept.due_date}}</td>
                <td>{{indept.minimum_pay}}</td>
            </tr>
        </tbody>
    </table>

</div>