<div class="mt-4">
    <h3>Payment History</h3>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Payment On</th>
                <th scope="col">Total Money</th>
            </tr>
        </thead>
        <tbody>
            {{#each payment_historys}}
            <tr>
                <th scope="row">{{this.payment_history_id}}</th>
                <td>{{this.payment_on}}</td>
                <td>{{this.total_money}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>