<div class="container container-details">
    <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 100px">
        <div>
            <h4>Họ và tên: Nguyễn Văn A</h4>
            <h4>Số CMND/CCCD: 133456789</h4>
            <h4>Ngày sinh:17/05/1978</h4>
            <h4>Trạng thái hiện tại: F3</h4>
            <h4>Liên quan đến người covid: Trần Văn Lợi</h4>
            <h4>Địa chỉ nơi ở: Bình Tân, Tân Phú, Sài Gòn</h4>
            <h4>Nơi đang điều trị hiện tại: AVF, TP Hồ Chí Minh</h4>
        </div>
        <div>
            <h4>Lịch sử thay đổi nơi điều trị</h4>
            <ul style="padding: 0 60px; font-size: 20px">
                <li>Sài Gòn</li>
                <li>Hà Nội</li>
                <li>Đà Nẵng</li>
            </ul>

            <h4>Lịch sử thay đổi trạng thái</h4>
            <ul style="padding: 0 60px; font-size: 20px">
                <li>F1</li>
                <li>F0</li>
            </ul>
        </div>
    </div>
</div>