<div class="container">
  <h2 style="color: #fff; margin-top: 20px; margin-right: auto;text-align:center">
    Hãy nhập thông tin nhu yêu phẩm mới
  </h2>
  
   <div id="toast">

  </div>

  <form
    class="form-create-victim row col-8 justify-content-center"
    action="/manager/package/create"
    enctype="multipart/form-data"
    method="POST"
  >
    <div class="col">
      <div class="">
        <label class="flabel mb-1" for="name">Tên nhu yếu phẩm</label><input
          class="form-control"
          type="text"
          name="name"
          required="required"
          placeholder="Nhập tên ở đây"
        />
      </div>
      <div class="">
        <label class="flabel mb-1" for="images">Hình ảnh</label><input
          class="form-control"
          type="file"
          name="images"
          multiple="multiple"
          accept=".jpg,.png"
          {{! required="required" }}
          style ="padding:1rem 0.5rem;";
        
        />
      </div>
      <div class="form-div">
        <label class="flabel mb-1" for="price">Giá tiền</label><input
          class="form-control"
          type="text"
          name="price"
          required="required"
          placeholder="Nhập giá tiền ở đây đơn vị VND"
        />
      </div>
      <div class="form-div">
        <label class="flabel mb-1" for="unit">Đơn vị</label><select
          class="form-select"
          name="unit"
        >
          <option value="Trai">Trái</option>
          <option value="Kg">Kg</option>
        </select>
      </div>
      <div class="d-flex justify-content-around" style="margin-top: 20px">
        <button class="btn btn-tung" type="submit">Lưu</button><a
          class="btn btn-tung"
          href="/manager/package"
        >Hủy</a>
      </div>
    </div>

  </form>
</div>

{{#compareString status "001"}}
  <script>
    window.onload = function showAnnouncement() {
      showErrorToast("Tên của nhu yếu phẩm đã tồn tại")
    }
  </script>
{{/compareString}}


