<div class="container">
  <h2 style="color: #fff; margin-top: 20px; margin-right: auto">
    THANH TOÁN
  </h2>
  <div class="form-create-victim" style="background-color: #FFFFFF;">
    <h2>Số tiền nợ của gói: {{indept}}</h2>

    <form action="/user/payment_indept" method="post">
      <input type="text" style="display:none" name="data" value="{{data}}">

      <button type="submit" style="width:150px;cursor:pointer;
        height:50px;background:black;border-radius:4px;
        color:white;text-align:center;line-height:50px;display:block;text-decoration:none">Thanh toán</button>
    </form>

  </div>

</div>