<div class="container">
  <h2 style="color: #fff; margin-top: 20px; margin-right: auto">
    Nạp tiền
  </h2>
  <form
    class="form-create-victim"
    action="/user/put-money"
    method="POST"
    style="width: 800px;"
  >

    <div class="">
      <label class="flabel mb-1" for="name">SỐ tiền muốn nạp</label><input
        class="form-control"
        type="number"
        min="20000"
        name="balance_value"
        required="required"
      />
    </div>

    <div class="d-flex justify-content-around" style="margin-top: 20px">
      <button class="btn btn-tung" type="submit">Lưu</button><a
        class="btn btn-tung"
        href="/nhan-khau"
      >Hủy</a>
    </div>
  </form>
</div>