

<div class="manage-home">
<a href="/manager/patient" class="box">
  <h2 style="font-weight: 900; font-size: 25px">NGƯỜI BỆNH</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-users"></i
  ></span>
  <p>Danh sách người liên quan Covid</p>
</a>

<a href="/manager/package" class="box">
  <h2 style="font-weight: 900; font-size: 25px">NHU YẾU PHẨM</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-cube"></i
  ></span>
  <p>Danh sách nhu yếu phẩm</p>
</a>

<a href="/manager/packages" class="box">
  <h2 style="font-weight: 900; font-size: 25px">GÓI NHU YẾU PHẨM</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-dumpster-fire"></i
  ></span>
  <p>Danh sách các gói nhu yếu phẩm</p>
</a>

<a href="/manager/analysis" class="box">
  <h2 style="font-weight: 900; font-size: 25px">THỐNG KÊ</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-chart-bar"></i
  ></span>
  <p>Thống kê thông tin</p>
</a>

<a href="#" class="box">
  <h2 style="font-weight: 900; font-size: 25px"></h2>
  <span style="font-size: 35px"
    ></span>
  <p></p>
</a>
<div>