<div class="manage-home">
  <a href="/user/profile" class="box">
    <h2 style="font-weight: 900; font-size: 25px">THÔNG TIN CÁ NHÂN</h2>
    <span style="font-size: 35px">01<i
        style="margin-left: 8px"
        class="fas fa-users"
      ></i></span>
    <p>Xem thông tin cá nhân</p>
  </a>

  <a href="/user/buy" class="box">
    <h2 style="font-weight: 900; font-size: 25px">MUA GÓI NHU YẾU PHẨM</h2>
    <span style="font-size: 35px">01<i
        style="margin-left: 8px"
        class="fas fa-cube"
      ></i></span>
    <p>Danh sách gói nhu yếu phẩm</p>
  </a>

  <a href="/user/indept/" class="box">
    <h2 style="font-weight: 900; font-size: 25px">THANH TOÁN</h2>
    <span style="font-size: 35px">01<i
        style="margin-left: 8px"
        class="fas fa-credit-card"
      ></i></span>
    <p>Thanh toán hóa đơn</p>
  </a>
</div>