<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {{>css}}
  </head>
  <body >
    <div class="container1">
      {{>header}}

      <navbar class="navbar-menu">
        <a href="/manager" class="navbar-item">TRANG CHỦ</a><a
          href="/manager/patient"
          class="navbar-item"
        >NGƯỜI BỆNH</a><a href="/manager/package" class="navbar-item">NHU YẾU PHẨM</a><a
          href="/manager/packages"
          class="navbar-item"
        >GÓI NHU YẾU PHẨM</a><a href="/manager/analysis" class="navbar-item">THỐNG KÊ</a>
    </navbar>
      {{{body}}}
      {{>script}}
    </div>
  </body>
</html>
