<div class="container">
  <h2 style="color: #fff; margin-top: 20px; margin-right: auto">
    Hãy nhập thông tin gói nhu yêu phẩm mới 
  </h2>
  <div id="toast">

  </div>
  <form
    class="form-create-victim row col-8 justify-content-center"
    action="/manager/packages/{{id}}/update-packs"
    method="POST"
    name ="update"
  >
    <div class="col-12">
      <div class="">
        <label class="flabel mb-1" for="name">Tên gói nhu yếu phẩm</label><input
          class="form-control"
          type="text"
          name="name"
          required="required"
           {{!-- placeholder="Nhập tên ở đây" --}}
           value = "{{name}}"
        />
      </div>

      <div class="form-div">
        <label class="flabel mb-1" for="price">Ngày đến hạn</label>
        <input
          class="form-control"
          type="date"
          name="due_date"
          required="required"
          value= "{{due_date}}"
        />
      </div>

    <div class="d-flex justify-content-around" style="margin-top: 20px">
    <button class="btn btn-tung" type="submit">Lưu</button><a
        class="btn btn-tung"
        href="/manager/packages"
    >Hủy</a>
    </div>
    </div>
  </form>
  
</div>




{{#compareString status "001"}}
  <script>
    window.onload = function showAnnouncement() {
      showErrorToast("Tên gói nhu yếu phẩm đã tồn tại")
    }
  </script>
{{/compareString}}


